@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #0B0F2F, #090A1A);
    color: white;
    padding-bottom: 50px;
}

.header {
    text-align: center;
    padding: 60px 20px;
    background: #3e4cb4;
    border-bottom: 4px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 30px rgba(5, 20, 225, 0.2);
    border-radius: 0px 0px 50px 50px;
}

.title {
    font-size: 100px;
    font-weight: 700;
    color: #baffff;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
}

.album-section {
    padding: 40px 50px;
}

.album-title {
    font-size: 24px;
    font-weight: 700;
    color: #e70d09;
    text-shadow: 0 0 8px #ff0000;
    margin-bottom: 25px;
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.album-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 30px 20px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: aliceblue;
}

.album-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
}

.album-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.album-card p {
    font-size: 14px;
    opacity: 0.8;
}

.instagram {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 0 8px #ffffff;
    text-align:Center;
}